.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.title {
  letter-spacing: 0.4em;
  font-size: 2.5em;
  font-weight: 600;
}
