.container {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}
input[type="checkbox"] {
  display: none;
}
label {
  position: relative;
  color: white;
  opacity: 0.7;
  font-family: "Poppins", sans-serif;
  font-size: 16px;

  display: flex;
  align-items: center;
}
input[type="checkbox"]:checked + label {
  color: #ffffff8c;
  text-decoration: line-through;
}
label:before {
  box-sizing: border-box;
  content: url("/frontend/src/assets/icons8-marca-de-verificación.svg");
  display: block;
  height: 20px;
  width: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
input[type="checkbox"]:checked + label:before {
  content: "\2713";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid white;
}
