:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171723;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button {
  background: transparent;
  border: 1px solid #ffffff8c;
  padding: 8px 18px;
  outline: none;
  font-size: 16px;
  color: #ffffff8c;
  cursor: pointer;
}
.button:hover {
  background: #ffffff8c;
  color: #171723;
}
